.fancy-header {
  margin: 0 auto;
  padding: 120px 0 80px;
  height: 75vh;
  width: 100%;
  background-color: #ded7d0;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  position: relative;
  text-align: center;
  color: #555149;
}

.fancy-header .avatar {
  display: block;
  margin: 0 auto;
  width: 20rem;
}

@media only screen and (min-width: 1024px) {
  .fancy-header {
    width: 40%;
    height: 100vh;
    position: fixed;
  }
}

