nav {
  position: fixed;
  /* height: 120px; */
  width: 100%;
  top: 0;
  z-index: 7;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

nav .logo {
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

nav .tweetAnchor {
  float: right;
}

@-webkit-keyframes levitate {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(10px);
  }

  100% {
    transform: translatey(0px);
  }
}

nav .arrow {
  text-align: center;
  -webkit-animation: levitate 2s infinite;
}

