nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 7;
  background-color: #C39181;
  color: #FFFFFF;
  padding: 1.5em;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

nav .logo {
  font-family: 'Pacifico';
  font-size: 38px;
}

nav .tweetAnchor {
  float: right;
}

@-webkit-keyframes levitate {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(10px);
  }

  100% {
    transform: translatey(0px);
  }
}

nav .arrow {
  text-align: center;
  -webkit-animation: levitate 2s infinite;
}

